.bottom {
  width: 100vw;
  height: 209px;
  background-color: black;
  box-shadow: 0px -4px 4px 0px #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: auto;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 40px;
  width: auto;
}

.copyright {
  color: white;
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 500;
  line-height: 143%;
  margin: 0;
}
