@use "@/styles" as *;

.navigation {
  ul {
    list-style: none;
    display: flex;
    gap: $spacing-nav;
    @include mobile {
      gap: $spacing-lg;
    }
  }

  li {
    list-style: none;

    a {
      font-family: $font-family;
      text-decoration: none;
      color: $text-color;
      font-size: clamp($font-size-small, 2.5vw, $font-size-large);
      font-weight: $font-weight-medium;
      letter-spacing: clamp($spacing-xs, 0.5vw, $spacing-sm);
      line-height: $line-height-nav;
      text-wrap: nowrap;

      &.active {
        text-decoration: underline;
        text-underline-offset: $spacing-md;
        text-decoration-thickness: $spacing-sm;
      }
    }
  }
}
